<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/estilo.css">
	<link rel="icon" type="img/png" href="/img/logotipo.png" class="logotipo">
	<title>Hospitalar</title>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-light"><!-- Iniciar menu-->
		<div class="container">
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse " id="navbarSupportedContent">

				<ul class="navbar-nav ml-auto mr-auto">
					<li ><a href="#" class="nav-link">Home</a></li>
					<li><a href="#" class="nav-link">Hospitais</a></li>
					<li ><a href="#" class="nav-link">Tipos de Hospitais</a></li>
					<li class="dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Gerenciar Hospitais</a>
						<ul class="dropdown-menu">
							<li>
								<a href="#" class="dropdown-item">Inserir Hospitais</a>
							</li>
							<li class="dropdown-divider"></li>
							<li>
								<a href="" class="dropdown-item">Editar Hospitais</a>
							</li>
							<li class="dropdown-divider"></li>
							<li>
								<a href="" class="dropdown-item">Exluir Hospitais</a>
							</li>
						</ul>
					</li>
					<li class="mr-auto"><a href="#" class="nav-link">Registro</a></li>
					<li class="mr-auto"><a href="#" class="nav-link">Login</a></li>
				</ul>
			</div><!--Fim collapse-->
			
		</div><!--Fim container-->
	</nav><!--fim menu-->
	<main>
		<section class="jumbotron"><!--inicio titulo-->

			<form class="input-group">
				<input class="form-control" type="search" placeholder="Busque aqui!">
				<button class="btn btn-primary ml-1">Pesquisar</button>
			</form>
		</section><!-- Fim título-->
		<section class="container"><!--inicio adicionados-->

			<h2 class="text-center">
				Adicionados Recentemente
			</h2>
			<div class="row">
				
				<a href="#" class="col-lg-3 col-sm-6 col-md-4">
					<figure>
						<img src="/static/img/hosp.jpg" alt="" class="img-fluid img-thumbnail">
						<figcaption class="text-center">
							Hospital número um em atendimento
						</figcaption>
					</figure>

				</a>
				<a href="#" class="col-lg-3 col-sm-6 col-md-4">
					<figure>
						<img src="/static/img/hosp.jpg" alt="" class="img-fluid img-thumbnail">
						<figcaption class="text-center">
							Hospital número um em atendimento
						</figcaption>
					</figure>

				</a>
				<a href="#" class="col-lg-3 col-sm-6 col-md-4">
					<figure>
						<img src="/static/img/hosp.jpg" alt="" class="img-fluid img-thumbnail">
						<figcaption class="text-center">
							Hospital número um em atendimento
						</figcaption>
					</figure>

				</a>
				<a href="#" class="col-lg-3 col-sm-6 col-md-4">
					<figure>
						<img src="/static/img/hosp.jpg" alt="" class="img-fluid img-thumbnail">
						<figcaption class="text-center">
							Hospital número um em atendimento
						</figcaption>
					</figure>

				</a>
			</div>

		</section><!-- Fim adicionados-->
		<section><!--Nosso Vídeo-->
			<div class="container"><!--inicio container vídeo-->
				
				<h3 class="text-center mb-3">Nossos Vídeos</h3>
				<div class="row d-flex"><!--início linha-->
					<figure class="col-lg-3 img-fluid">
						<iframe src="https://www.youtube.com/embed/Twi4sZrWhEE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</figure>

					<div class="col-lg-3">
						<article class="ml-3 text-justify ">
							A empresa é ..pois ..é foi criada em 1982 e significa algo que você não quer responder .
							A empresa é ..pois ..é foi criada em 1982 e significa algo que você não quer responder .
						</article>
					</div>
					<figure class="col-lg-3 img-fluid">
						<iframe src="https://www.youtube.com/embed/Twi4sZrWhEE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</figure>

					<div class="col-lg-3">
						<article class="ml-3 text-justify">
							A empresa é ..pois ..é foi criada em 1982 e significa algo que você não quer responder .
							A empresa é ..pois ..é foi criada em 1982 e significa algo que você não quer responder .
						</article>
					</div>

				</div><!--fim linha-->


			</div><!--fim container vídeo-->

		</section><!-- Fim nosso Vídeo-->


		<section class=" avaliado bg-dark mt-3 container"><!--inicio avaliado-->
			<div class="container"><!--inicio container-->
				<div class="row d-flex"><!--inicio linha-->
					<div class="col-lg-6 text-center mt-5">
						<h1>
							Melhor Avaliado
						</h1>
						<article>
							Este hospital foi avaiado por mais de 1000 usuários.
						</article>
						<button class="btn btn-primary mt-4">
							Avaliar
						</button>
					</div>

					<div class="col-lg-6">
						<a href="#">
							
							<figure class="mt-4 text-center">
								<img src="/static/img/hosp.jpg" alt="" class="img-fluid img-thumbnail">
								<figcaption>
									Melhor Hospital
								</figcaption>
							</figure>
						</a>
					</div>

				</div><!--fim linha-->				

			</div><!--fim container-->

		</section><!-- Fim avaliado-->


		<section class="equipe-medica container"><!--inicio equipe-->
			<h2 class="text-center mt-3 mb-3">
				Equipe Médica
			</h2>
			<div class="row"><!--início linha-->
				<div class="media  col-lg-6 col-sm-6"><!-- início media-->
					<img src="/static/img/mr-miyagi-smiling.jpg" alt="Mestre Miyagi" class="mestre img-fluid img-thumbnail mt-4 mr-2">
					<div class="media-body">
						<h3 class="h5">
							Miyagi
						</h3>
						<article class="mb-3">
							“Se raiz forte, arvore sobrevive” “Faixa só serve para segurar calças” “Não existe mau aluno, só mau professor” “Se vem de dentro de você é sempre certo”
						</article>
					</div>
				</div><!--fim media-->

				<div class="media col-lg-6 col-sm-6"><!-- início media-->
					<img src="/static/img/dohko.png" alt="Libra" class="mestre img-fluid img-thumbnail mt-4 mr-2">
					<div class="media-body">
						<h3 class="h5">
							Dohko
						</h3>
						<article class="mb-3">
							“Se raiz forte, arvore sobrevive” “Faixa só serve para segurar calças” “Não existe mau aluno, só mau professor” “Se vem de dentro de você é sempre certo”
						</article>
					</div>
				</div><!--fim media-->
				<div class="media col-lg-6 col-sm-6"><!-- início media-->
					<img src="/static/img/Daniel_LaRusso.png" alt="Daniel" class="mestre img-fluid img-thumbnail mt-4 mr-2">
					<div class="media-body">
						<h3 class="h5">
							Daniel
						</h3>
						<article class="mb-3">
							“Se raiz forte, arvore sobrevive” “Faixa só serve para segurar calças” “Não existe mau aluno, só mau professor” “Se vem de dentro de você é sempre certo”
						</article>
					</div>
				</div><!--fim media-->
				<div class="media col-lg-6 col-sm-6"><!-- início media-->
					<img src="/static/img/Johnny_lawrence.jpg" alt="Johnny" class="mestre img-fluid img-thumbnail mt-4 mr-2">
					<div class="media-body">
						<h3 class="h5">
							Johnny
						</h3>
						<article class="mb-3">
							“Se raiz forte, arvore sobrevive” “Faixa só serve para segurar calças” “Não existe mau aluno, só mau professor” “Se vem de dentro de você é sempre certo”
						</article>
					</div>
				</div><!--fim media-->
				<div class="media col-lg-6 col-sm-6"><!-- início media-->
					<img src="/static/img/mestra-genkai.png" alt="Genkai" class="mestre img-fluid img-thumbnail mt-4 mr-2">
					<div class="media-body">
						<h3 class="h5">
							Genkai
						</h3>
						<article class="mb-3">
							“Se raiz forte, arvore sobrevive” “Faixa só serve para segurar calças” “Não existe mau aluno, só mau professor” “Se vem de dentro de você é sempre certo”
						</article>
					</div>
				</div><!--fim media-->
				<div class="media col-lg-6 col-sm-6"><!-- início media-->
					<img src="/static/img/mestre.jpg" alt="Dos Magos" class="mestre img-fluid img-thumbnail mt-4 mr-2">
					<div class="media-body">
						<h3 class="h5">
							Mestre dos Magos
						</h3>
						<article class="mb-3">
							“Se raiz forte, arvore sobrevive” “Faixa só serve para segurar calças” “Não existe mau aluno, só mau professor” “Se vem de dentro de você é sempre certo”
						</article>
					</div><!--fim media-->
				</div><!--fim linha-->
			</div>

		</section><!-- Fim equipe-->

		<section class="especialidade container"><!--início especialidade-->
			<div class="row">
				<div class="col-md-4"><!--Coluna 01-->
					<div class="card text-center"><!--card-->
						<h3 class="card-header text-center">Especialidade 1</h3>
						<div class="card-body ">
							<p class="text-justify">

								“Não importa quem é mais forte, mas o mais inteligente” “Para pessoas sem amor no coração, viver é pior castigo”
							</p>
							<button class="btn btn-danger mt-4">
								Ver aqui!
							</button>
						</div><!--fim card-->
					</div>
				</div><!--fim coluna-->
				<div class="col-md-4"><!--Coluna 02-->
					<div class="card text-center"><!--card-->
						<h3 class="card-header">Especialidade 2</h3>
						<div class="card-body">
							<p class="text-justify">

								“Não importa quem é mais forte, mas o mais inteligente” “Para pessoas sem amor no coração, viver é pior castigo”
							</p>
							<button class="btn btn-danger mt-4">
								Ver aqui!
							</button>
						</div><!--fim card-->
					</div>
				</div><!--fim coluna-->
				<div class="col-md-4"><!--Coluna 03-->
					<div class="card text-center"><!--card-->
						<h3 class="card-header">Especialidade 3</h3>
						<div class="card-body">
							<p class="text-justify">

								“Não importa quem é mais forte, mas o mais inteligente” “Para pessoas sem amor no coração, viver é pior castigo”
							</p>
							<button class="btn btn-danger mt-4">
								Ver aqui!
							</button>
						</div><!--fim card-->
					</div>
				</div><!--fim coluna-->
			</div>
		</section><!-- fim especialidade-->
	</main>
	<footer class="mt-4 bg-danger"><!--início rodapé-->
		<div class="container d-flex justify-content-between">
			<span class="copy mt-4">
				&copy Copyright 2020
			</span>

			<ul class="navbar icones">
				<li><a href="https://github.com/" class="text-hide">GitHub</a></li>
				<li><a href="https://www.google.com/" class="text-hide">Google plus</a></li>
				<li><a href="https://br.linkedin.com/" class="text-hide">Linkedin</a></li>
				<li><a href="https://www.facebook.com/" class="text-hide">Facebook</a></li>
			</ul>
		</div>
	</footer><!-- fim rodapé-->

	<script  src="https://code.jquery.com/jquery-3.5.1.js"
	integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>

</body>
</html>