.jumbotron{
	background-image: url('/img/hospitalarazul.jpg');
	background-size: cover;
	background-position: center;	
}
.navbar-light .navbar-nav .nav-link {
    color: #007bff;
}
.mestre{
	width: 46px;
	height:  46px;
}
.icones a{
	display: block;
	width: 36px;
	height: 36px;
}
.icones li{
	display: inline-block;
	margin-left: 0.2rem;

}
.icones a[href='https://github.com/']{
	background-image: url('/img/github.png');
	background-size: 36px 36px;

}
.icones a[href="https://www.google.com/"]{
	background-image: url('/img/Plus.png');
	background-size: 36px 36px;
}
.icones a[href="https://br.linkedin.com/"]{
	background-image: url('/img/Linkedin.png');
	background-size: 36px 36px;
}
.icones a[href="https://www.facebook.com/"]{
	background-image: url('/img/Facebook-logo.png');
	background-size: 36px 36px;
}
.copy{
	color: #FFFFFF;
}
.avaliado{
	color: #fff;
}
.card-header{
	background-image: url('/img/hospaz.jpg');
	background-size: cover;
	background-position: center;
}
.logotipo{
	width: 16px;
	height: 16px;
}
/*

.nav-link{
	padding-top:5rem ; /* pt-0 até pt-5
	padding-left: ; /* pl-0 até pl-5
	padding-right: ; /* pr-0 até pr-5
	padding-bottom:5rem; /* pb-0 até pb-5
	background: #942D39;
	border: solid 1px;
	margin-left: 1rem;/* ml-0 até ml-5 
	margin-right:2rem ; /* mr-0 até mr-5 
	margin-top:2rem ; /* mt-0 até mt-5 
	margin-bottom:3rem ; /* mb-0 até mb-5 
}

*/
